.item-container {
  display: flex;
  flex-direction: row;
  border: 1px solid #6c19ff;
  color: #6c19ff;
  padding: 10px;
  border-radius: 10px;
  gap: 5px;
  height: 50px;
}

.item-input {
  border-style: none;
  color: #6c19ff;
  font-size: 18px;
  outline: none;
}

.item-input::placeholder {
  user-select: none;
  color: #dac6ff;
}

.item-separator {
  width: 1px;
  height: 100%;
  background-color: #6c19ff;
}
